<html layout:decorate="~{layout}" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container mb-5" layout:fragment="content">
    <!--<h2 class="my-4">공정 결과 (주문번호 : <span th:text="${orderId}"></span>,
        <span th:if="${qualityCheck}"> 불일치 건수: <span th:if="${misMatchCount}" th:text="${misMatchCount}">ddd</span></span>)</h2>-->
    <h2 class="my-4">
        공정 결과 <span class="fs-4">(주문번호: <span th:text="${orderId}">0000</span>,
        <span th:if="${misMatchCount}">
        불일치 건수: <span th:text="${misMatchCount}">0</span>
        </span>
        <span th:unless="${misMatchCount}">
        -
        </span>)</span>
    </h2>
    <div class="mb-3">
        <div class="d-flex">
            <a href="#" th:href="@{/quality/{id}/check(id=${orderId})}" th:disabled="${qualityCheck==null}"
               class="btn btn-refoam" role="button">전체 품질검수</a>
            <div class="d-inline ms-auto">
                <a class="btn btn-dark" th:href="@{/order/list}">주문리스트</a>
            </div>
        </div>
    </div>

    <div class="table-responsive table-lg">
        <table class="table text-center table-striped">
            <thead>
            <tr>
                <th>lotNumber</th>
                <th>금형온도</th>
                <th>충전시간</th>
                <th>최고사출압</th>
                <th>보압끝점</th>
                <th>공정일자</th>
                <th>라벨</th>
                <th>검수결과</th>
                <th>상세보기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="process : ${processes}">
                <td th:text="${process.lotNumber}">lotNumber</td>
                <td th:text="${process.standard.moldTemperature}"></td>
                <td th:text="${process.standard.timeToFill}">50</td>
                <td th:text="${process.standard.injPressurePeak}">50</td>
                <td th:text="${process.standard.screwPosEndHold}">50</td>
                <td th:text="${#temporals.format(process.processDate,'yy-MM-dd HH:mm:ss')}">2000-00-00 00:00</td>
                <td th:text="${process.standard.productLabel.name()}"></td>
                <td><span th:if="${process.standard.qualityCheck != null}" th:text="${process.standard.qualityCheck.checkResult}"></span></td>
                <td class="text-center">
                    <button type="button"
                            class="btn btn-refoam btn-sm open-quality-modal"
                            th:data-process-id="${process.id}"
                            th:disabled="${process.standard.qualityCheck == null}">
                        상세
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive table-md">
        <table class="table table-font2 text-center align-middle double-stripe">
            <colgroup>
                <col style="width: 25%">   <!--lotNumber # -->
                <col style="width: 25%">  <!-- 라벨 -->
                <col style="width: 25%">  <!-- 검수결과 -->
                <col style="width: 25%">  <!--버튼  -->
            </colgroup>
            <thead>
            <tr>
                <th colspan="1" class="ps-md-4 ps-sm-3">lotNumber<span class="mobile-br2"></span></th>
                <!--<th>제품명</th>-->
                <th>금형<span class="mobile-br"></span>온도</th>
                <th>충전<span class="mobile-br"></span>시간</th>
                <th>최고<span class="mobile-br"></span>사출압</th>
            </tr>
            <tr>
<!--                <th>보압끝점</th>-->
                <th class="ps-md-4 ps-sm-3">공정일자<span class="mobile-br2"></span></th>
                <th>라벨<span class="mobile-br2"></span></th>
                <th>검수<span class="mobile-br"></span>결과</th>
                <th>상세<span class="mobile-br"></span>보기</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="process : ${processes}">
                <tr>
                    <td colspan="1" th:text="${process.lotNumber}" class="ps-md-4 ps-sm-3">lotNumber</td>
                    <!--<td th:text="${process.order.productName}">EVA</td>-->
                    <td th:text="${process.standard.moldTemperature}">50</td>
                    <td th:text="${process.standard.timeToFill}">50</td>
                    <td th:text="${process.standard.injPressurePeak}">50</td>
                </tr>
                <tr>
<!--                    <td th:text="${process.standard.screwPosEndHold}">50</td>-->
                    <td th:text="${#temporals.format(process.processDate,'MM-dd HH:mm:ss')}" class="ps-md-4 ps-sm-3">20-00-00 00:00</td>
                    <td th:text="${process.standard.productLabel}"></td>
                    <td><span th:if="${process.standard.qualityCheck != null}" th:text="${process.standard.qualityCheck.checkResult}"></span></td>
                    <td>
                        <button type="button"
                                class="btn btn-refoam btn-sm open-quality-modal-md"
                                th:data-process-id="${process.id}"
                                th:disabled="${process.standard.qualityCheck == null}">
                            상세
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby='exampleModalLabel' aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="modalContent">
                <!-- Ajax로 이곳에 콘텐츠가 삽입됨 -->
            </div>
        </div>
    </div>
    <nav th:if="${!processes.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item page-first" th:classappend="${processes.first} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=0|}"><i
                        class="bi bi-chevron-double-left"></i>처음</a>
            </li>
            <li class="page-item" th:classappend="${!processes.hasPrevious()}?'disabled'">
                <a class="page-link ps-0" th:href="@{|?page=${processes.number -1}|}"><i class="bi bi-chevron-left"></i>이전</a>
            </li>
            <li class="page-item" th:each="page:${#numbers.sequence(0,processes.totalPages -1)}"
                th:classappend="${page==processes.number}?'active'"
                th:if="${page >= processes.number -2 and page <= processes.number +2}">
                <a class="page-link" th:text="${page + 1}" th:href="@{|?page=${page}|}">1</a></li>
            <li class="page-item" th:classappend="${!processes.hasNext()}?'disabled'">
                <a class="page-link pe-0" th:href="@{|?page=${processes.number +1}|}">다음<i
                        class="bi bi-chevron-right"></i></a>
            </li>
            <li class="page-item page-last" th:classappend="${processes.last} ? 'disabled'">
                <a class="page-link " th:href="@{|?page=${processes.totalPages -1}|}">마지막<i
                        class="bi bi-chevron-double-right"></i></a>
            </li>
        </ul>
    </nav>
    <script>
        document.addEventListener('click', function (e) {
            const target = e.target;

            if (
                target.classList.contains('open-quality-modal') ||
                target.classList.contains('open-quality-modal-md')
            ) {
                const id = target.getAttribute('data-process-id');

                fetch(`/quality/modal/${id}`)
                    .then(response => {
                        if (!response.ok) throw new Error('네트워크 오류');
                        return response.text();
                    })
                    .then(html => {
                        document.getElementById('modalContent').innerHTML = html;

                        const modalEl = document.getElementById('myModal');
                        const modal = bootstrap.Modal.getOrCreateInstance(modalEl);
                        modal.show();
                    })
                    .catch(() => {
                        alert('모달 로딩 실패');
                    });
            }
        });
    </script>
</div>
</html>