<html layout:decorate="~{layout}" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container mb-5" layout:fragment="content">
    <h2 class="py-4">에러 모니터링</h2>
    <div class="row g-2  mb-5">
        <div class="col-md-6 col-lg-4 col-12 ">
            <div class="tassei-err h-100">
                <canvas id="todayErrorChart"></canvas>
            </div>
        </div>
        <div class="col-md-6 col-lg-8 col-12 ">
            <div class="tassei-err h-100">
                <canvas id="weeklyLineChart"></canvas>
            </div>
        </div>
    </div>
    <button id="showErrorToastBtn" class="btn btn-refoam position-fixed bottom-0 end-0 m-4" style="z-index: 1100;">
        📋 리포트 보기
    </button>
    <div class="position-fixed bottom-0 mb-5 end-0 p-3" style="z-index: 1100;">
        <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="refoam-font me-auto">📋 AI 리포트</strong>
                <small class="gray-font">방금 전</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <span style="white-space: pre-line; margin-bottom: 0;" id="errorToastBody">리포트 내용을 불러오는 중입니다...</span>
            </div>
        </div>
    </div>
    <canvas class="chart-box" id="monitoringChart" width="900" height="400"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:inline="javascript">
        //차트용 스크립트 합침
        const stats = /*[[${allMonitorings}]]*/ [];
        const labels = stats.map(s => s.date);
        const ok = stats.map(s => s.okCount);
        const err = stats.map(s => s.errCount);
        const order = stats.map(s => s.orderCount);
        const errTemp = stats.map(s => s.errTempCount);
        const errTime = stats.map(s => s.errTimeCount);
        const mixFail = stats.map(s => s.mixFailCount || 0);
        const normalOK = /*[[${normalMonitorings}]]*/ [];
        const bumpOK = /*[[${bumpMonitorings}]]*/ [];
        const halfOK = /*[[${halfMonitorings}]]*/ [];
        const normalOk = normalOK.map(s => s.okCount);
        const bumpOk = bumpOK.map(s => s.okCount);
        const halfOk = halfOK.map(s => s.okCount);


        // 생산량 통계 차트
        const monitoringCtx = document.getElementById("monitoringChart");
        if (monitoringCtx) {
            new Chart(monitoringCtx, {
                type: "bar",
                data: {
                    labels: labels,
                    datasets: [
                        // 여기부터는 라인 차트 (랜덤값으로 그려놓음 => 필요하면 추가)
                        {
                            label: 'NORMAL',
                            data: normalOk,
                            type: 'line',
                            borderColor: 'rgba(154,103,255,0.6)',
                            backgroundColor: 'rgb(156,156,255)',
                            yAxisID: 'y',
                            tension: 0.2
                        },
                        {
                            label: 'BUMP',
                            data: bumpOk,
                            type: 'line',
                            borderColor: 'rgba(147,147,147,0.6)',
                            backgroundColor: 'rgb(173,177,190)',
                            yAxisID: 'y',
                            tension: 0.2
                        },
                        {
                            label: 'HALF',
                            data: halfOk,
                            type: 'line',
                            borderColor: 'rgba(255,99,132,0.6)',
                            backgroundColor: 'rgb(255,171,189)',
                            yAxisID: 'y',
                            tension: 0.2
                        },//여기까지
                        {
                            label: "총 주문 건수",
                            data: order,
                            borderColor: '#0051b6',
                            backgroundColor: "#a7cffd",
                        },
                        {
                            label: "완제품 수",
                            data: ok,
                            borderColor: '#369189',
                            backgroundColor: "#8ef6da",
                        },
                        {
                            label: "불량품 수",
                            data: err,
                            borderColor: '#fd8128',
                            backgroundColor: "#f8aa70",
                        },
                    ],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    elements: {
                        bar: {
                            borderWidth: 2,
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: "생산량 통계",
                            font: {
                                size: 16,
                                weight: 'bold',
                            }
                        },
                        legend: {
                            position: "bottom",
                        },
                    },
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: "공정 날짜",
                            },
                            ticks: {
                                autoSkip: true,
                                maxRotation: 45,
                                minRotation: 20
                            },
                        },
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: "수량",
                            },
                        },
                    },
                },
            });
        }

        new Chart(document.getElementById('weeklyLineChart'), {
            type: 'line',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'OK',
                        data: ok,
                        borderColor: 'rgb(155,155,253)',
                        borderWidth: 2,
                        fill: false,
                        tension: 0.1
                    },
                    {
                        label: 'ERR_TEMP',
                        data: errTemp,
                        borderColor: 'rgb(133,197,241)',
                        borderWidth: 2,
                        fill: false,
                        tension: 0.1
                    },
                    {
                        label: 'ERR_TIME',
                        data: errTime,
                        borderColor: 'rgb(253,224,153)',
                        borderWidth: 2,
                        fill: false,
                        tension: 0.1
                    },
                    {
                        label: '배합실패',
                        data: mixFail,
                        borderColor: 'rgb(253,160,180)',
                        borderWidth: 2,
                        fill: false,
                        tension: 0.1
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: '7일 발생한 에러',
                        font: {
                            size: 16,
                            weight: 'bold',
                        }
                    },
                    legend: {
                        position: 'top',
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: '공정 날짜'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: '건수'
                        }
                    }
                }
            }
        });


        const todayErrorCounts = /*[[${todayErrorCounts}]]*/ [];
        const todayErrorLabels = Object.keys(todayErrorCounts);
        const todayErrorData = Object.values(todayErrorCounts);

        new Chart(document.getElementById('todayErrorChart'), {
            type: 'doughnut',
            data: {
                labels: todayErrorLabels,
                datasets: [{
                    label: '오늘의 에러 건수',
                    data: todayErrorData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)'
                    ],
                    borderColor: 'white',
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                layout:{
                    padding:{
                        bottom:20
                    }
                },
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: '오늘 발생한 에러 건수',
                        font: {
                            size: 16,
                            weight: 'bold',
                        }
                    },
                    legend: {
                        position: 'top'
                    }
                }
            }
        });

        document.addEventListener("DOMContentLoaded", function () {
            const btn = document.getElementById('showErrorToastBtn');
            const toastEl = document.getElementById('errorToast');
            const toastBody = document.getElementById('errorToastBody');
            // 투명도 삭제
            toastEl.style.opacity = "1";
            toastEl.style.backgroundColor = "#ffffff";
            toastEl.style.color = "#000000";

            const toast = new bootstrap.Toast(toastEl, {delay: 10000});

            btn.addEventListener('click', function () {
                toastBody.textContent = "AI 리포트를 불러오는 중입니다..."
                toast.show();

                fetch("/ai-error-summary")
                    .then(res => res.text())
                    .then(text => {
                        toastBody.textContent = text;
                        toast.show();
                    })
                    .catch(() => {
                        toastBody.textContent = "❌ 리포트 요청 실패";
                        toast.show();
                    });
            });
        });
    </script>
</div>
</html>