<div th:fragment="modalContent">
    <div class="modal-header">
        <h1 class="modal-title fs-4" id='exampleModalLabel'>상세보기</h1>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
    </div>
    <div class="modal-body">
        <table class="table text-center align-middle table-bordered border-dark table-striped-columns table-processes table-font">
            <colgroup>
                <col style="width: 25%">   <!--lotNumber # -->
                <col style="width: 25%">  <!-- 라벨 -->
                <col style="width: 25%">  <!-- 검수결과 -->
                <col style="width: 25%">  <!--버튼  -->
                <!--                <col style="width: 25%">  &lt;!&ndash; 담당직원 &ndash;&gt;-->
            </colgroup>
            <tbody>
            <tr>
                <td>lotNumber</td>
                <td colspan="3" th:text="${process.lotNumber}">1</td>
            </tr>
            <tr>
                <td>공정일자</td>
                <td th:text="${#temporals.format(process.processDate,'yy-MM-dd HH:mm:ss')}">2025-05-01
                    14:00
                </td>
                <td>담당자</td>
                <td th:text="${process.processDisplayName}">담당자</td>
            </tr>
            <tr>
                <td>융용온도</td>
                <td th:text="${process.standard.meltTemperature}" th:classappend="${process.standard.productLabel.name() == 'ERR_TEMP'} ? ' bg-warning' : ''">105.49</td>
                <td>금형온도</td>
                <td th:text="${process.standard.moldTemperature}" th:classappend="${process.standard.productLabel.name() == 'ERR_TEMP'} ? ' bg-warning' : ''">80.5</td>
            </tr>
            <tr>
                <td>충전시간</td>
                <td th:text="${process.standard.timeToFill}" th:classappend="${process.standard.productLabel.name() == 'ERR_TIME'} ? ' bg-warning' : ''">6.864</td>
                <td>가소화시간</td>
                <td th:text="${process.standard.plasticizingTime}" th:classappend="${process.standard.productLabel.name() == 'ERR_TIME'} ? ' bg-warning' : ''">3.21</td>
            </tr>
            <tr>
                <td>사이클시간</td>
                <td th:text="${process.standard.cycleTime}" th:classappend="${process.standard.productLabel.name() == 'ERR_TIME'} ? ' bg-warning' : ''">74.78</td>
                <td>폐쇄 힘</td>
                <td th:text="${process.standard.closingForce}">901.22</td>
            </tr>
            <tr>
                <td>최고 형체하중</td>
                <td th:text="${process.standard.clampingForcePeak}">918.4</td>
                <td>최고 회전력</td>
                <td th:text="${process.standard.torquePeak}">117.1</td>
            </tr>
            <tr>
                <td>평균 회전력</td>
                <td th:text="${process.standard.torqueMean}">106.2</td>
                <td>최고 배압력</td>
                <td th:text="${process.standard.backPressurePeak}">145.9</td>
            </tr>
            <tr>
                <td>최고 사출압력</td>
                <td th:text="${process.standard.injPressurePeak}">900.2</td>
                <td>보압끝점</td>
                <td th:text="${process.standard.screwPosEndHold}">8.85</td>
            </tr>
            <tr>
                <td>샷 볼륨</td>
                <td th:text="${process.standard.shotVolume}">18.74</td>
                <td>공정결과</td>
                <td th:text="${process.standard.productLabel.name()}">OK</td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <p class="fs-5 fw-bold">검수결과</p>
            <div>
                <!--        불일치        -->
                <span th:if="((${process.standard.productLabel.name() == 'OK' and process.standard.qualityCheck.checkResult != '양품'}))">
                    정상으로 분류되었으나<br> 검수 시스템에서 <span
                        th:classappend="${process.standard.qualityCheck != null and process.standard.productLabel != null and process.standard.qualityCheck.checkResult != process.standard.productLabel.name() ? ' text-bg-warning' : ''}"
                        th:text="${process.standard.qualityCheck.checkResult}">양품</span>으로 예측하였습니다.<br>
                    자세한 확인이 필요합니다.
                </span>
                <span th:if="((${process.standard.productLabel.name() != 'OK' and process.standard.qualityCheck.checkResult != '불량품'}))">
                    불량품으로 분류되었으나<br> 검수 시스템에서 <span
                        th:classappend="${process.standard.qualityCheck != null and process.standard.productLabel != null and process.standard.qualityCheck.checkResult != process.standard.productLabel.name() ? ' text-bg-warning' : ''}"
                        th:text="${process.standard.qualityCheck.checkResult}">양품</span>으로 예측하였습니다.<br>
                    자세한 확인이 필요합니다.
                </span>
                <!--        일치        -->
                <span th:if="((${process.standard.productLabel.name() == 'OK' and process.standard.qualityCheck.checkResult == '양품'})
                or (${process.standard.productLabel.name() != 'OK' and process.standard.qualityCheck.checkResult == '불량품'}))">
                    <span th:text="${process.order.productName.name()}">NORMAL60</span> 제품은 <span
                        th:classappend="${process.standard.qualityCheck != null and process.standard.productLabel != null and process.standard.qualityCheck.checkResult != process.standard.productLabel.name() ? ' text-bg-warning' : ''}"
                        th:text="${process.standard.qualityCheck.checkResult}">양품</span>으로 판정되었습니다.
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-refoam" data-bs-dismiss="modal" type="button">닫기</button>
    </div>
</div>


