<html layout:decorate="~{layout}" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container mb-5" layout:fragment="content">
    <div class="row">
        <div class="col-md-2"></div>
        <form role="form" th:object="${employeeForm}" method="post" class="py-2 col-md-8">
            <input type="hidden" th:field="*{id}"/>
            <h2 class="py-4">직원 정보 수정</h2>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                <div th:each="err:${#fields.allErrors()}" th:text="${err}"></div>
            </div>
            <div class="mb-2">
                <label class="form-label fw-bold" th:for="*{loginId}">ID</label>
                <input type="text" class="form-control" th:field="*{loginId}" disabled/>
            </div>
            <div class="mb-2">
                <label class="form-label fw-bold" th:for="*{username}">이름</label>
                <input type="text" class="form-control" th:field="*{username}" disabled/>
            </div>
            <div class="mb-2">
                <label class="form-label fw-bold" th:for="*{password}">비밀번호</label>
                <input type="password" class="form-control" th:field="*{password}" th:placeholder="*{password}">
            </div>
            <div class="mb-2">
                <label class="form-label fw-bold" th:for="*{position}">직위</label>
                <!-- 관리자면 선택 가능 -->
                <select class="form-select"
                        th:if="${session.loginMember != null and session.loginMember.position != null and session.loginMember.position.name() == 'ADMIN'}"
                        th:field="*{position}">
                    <option value="">직위를 선택하세요</option>
                    <option th:each="positionName : ${T(com.example.refoam.domain.PositionName).values()}"
                            th:text="${positionName}" th:value="${positionName}"></option>
                </select>
                <!-- 스태프 등 관리자 외일 경우 읽기 전용  -->
                <!-- 보여지는 비활성 input -->
                <input class="form-control"
                       th:if="${session.loginMember == null or session.loginMember.position == null or session.loginMember.position.name() != 'ADMIN'}"
                       th:value="*{position}" disabled/>

                <!-- 숨겨서 값만 서버로 보냄 이렇게 안하면 아무것도 건드리지 않은채 수정 버튼 누르면 null 값 되버려서 방지용으로 넣음-->
                <input type="hidden"
                       th:if="${session.loginMember == null or session.loginMember.position == null or session.loginMember.position.name() != 'ADMIN'}"
                       th:field="*{position}"/>


            </div>
            <div class="mb-3">
                <label class="form-label fw-bold" th:for="*{email}">연락처</label>
                <input type="text" class="form-control" th:field="*{email}" th:placeholder="*{email}">
            </div>
            <div class="mb-3">
                <p class="form-label fw-bold"> 메일 알림 체크</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{sendMail}" id="inlineRadio1"
                           th:checked="${sendMail == True}" value="yes">
                    <label class="form-check-label" th:for="*{sendMail}" >사용</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{sendMail}" id="inlineRadio2"
                           th:checked="${sendMail == False}" value="no" >
                    <label class="form-check-label" th:for="*{sendMail}">미사용</label>
                </div>
            </div>
            <div class="text-end">
                <!-- 관리자일 경우: 직원 리스트로 이동 -->
                <a th:if="${session.loginMember != null and session.loginMember.position != null and session.loginMember.position.name() == 'ADMIN'}"
                   th:href="@{/employee/list}" class="btn btn-dark me-3">리스트</a>

                <!-- 관리자 외의 경우: 메인 페이지로 이동 -->
                <a th:if="${session.loginMember == null or session.loginMember.position == null or session.loginMember.position.name() != 'ADMIN'}"
                   th:href="@{/main}" class="btn btn-dark me-3">메인으로</a>

                <button type="submit" class="btn btn-refoam me-3">수정</button>

                <!-- 관리자만 삭제 가능 -->
                <button type="button" class="btn btn-delete"
                        th:if="${session.loginMember != null and session.loginMember.position != null and session.loginMember.position.name() == 'ADMIN'}"
                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                    삭제
                </button>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">삭제 확인</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" th:text="|정말로 ID :${employeeForm.loginId} 이름 : ${employeeForm.username}님을 삭제하시겠습니까?|">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-refoam" data-bs-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-delete" th:onclick="|location.href='@{/employee/{id}/delete(id=${employeeForm.id})}'|">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-md-2"></div>

    </div>
    </div>
</html>