<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Refoam</title>
</head>
<body class="d-flex flex-column min-vh-100">
<!--navbar 영역-->
<nav th:replace="~{fragments/navbar :: navbar(${activeMenu})}"></nav>
<div id="nav-hidden"></div>
<!--content 영역-->
<main class="flex-grow-1">
<th:block layout:fragment="content"></th:block>
</main>
<!--footer 영역-->
<footer th:replace="~{fragments/footer :: footer}"></footer>
<!--스크립트 영역-->
<script th:src="@{/js/bootstrap.bundle.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div layout:fragment="scripts">
    <script th:inline="javascript">
        window.addEventListener("DOMContentLoaded", function () {
            /* alert 처리 */
            [[${errorMessage != null}]] ? alert([[${errorMessage}]]) : null;
        });

        document.addEventListener('click', function (event) {
            const navbarCollapse = document.getElementById('navbarNavDropdown');
            const toggler = document.querySelector('.navbar-toggler');

            // 메뉴가 열려있는지 확인 (Bootstrap 5는 'show' 클래스로 판별)
            const isOpen = navbarCollapse.classList.contains('show');

            // 바깥 클릭 감지
            if (isOpen && !navbarCollapse.contains(event.target) && !toggler.contains(event.target)) {
                const bsCollapse = bootstrap.Collapse.getInstance(navbarCollapse);
                if (bsCollapse) {
                    bsCollapse.hide();
                }
            }
        });
    </script>
</div>
</body>
</html>